<h2>Heroes#index</h2>

<p>
  <%= link_to 'New Hero', new_hero_path %>
</p>

<div class="hero-selection">
  <% @heroes.each do |hero| %>
    <div id='hero-<%= hero.id %>'>
      <h4><%= hero.name %> (<%= hero.archetype %>)</h4>
      <%= render partial: 'heroes/hero', locals: {hero: hero} %>
      <div>
        <%= link_to 'X',
          hero_path(hero),
          method: :delete,
          remote:true %>
      </div>
    </div>
  <% end %>
</div>