<h2>Heroes#index</h2>

<p>
  <%= link_to 'New Hero', new_hero_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Archetype</th>
  </tr>
<% @heroes.each do |hero| %>
  <tr id='hero-<%= hero.id %>'>
    <td><%= hero.name %></td>
    <td><%= hero.archetype %></td>
    <td><%= link_to 'Delete', hero_path(hero), method: :delete, remote:true %>
  </tr>
<% end %>
</table>