<h2>Heroes#new</h2>

<%= form_with model: @hero,
  url: heroes_path,
  local: true,
  class: 'hero-form' do |f| %>

  <div class='hero-form_archetypes'>
    <h3>
      <%= f.label :archetypes %>
    </h3>
    <div class='hero-form_input'>
      <div>
        <%= f.radio_button :archetype, 'dps', class: 'hero-form_radio' %>
        <%= f.label :archetype_dps, onclick: 'changeGear("medium")' do %>
          <%= image_tag 'dps.png' %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :archetype, 'tank', class: 'hero-form_radio' %>
        <%= f.label :archetype_tank, onclick: 'changeGear("heavy")' do %>
          <%= image_tag 'tank.png' %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :archetype, 'healer', class: 'hero-form_radio' %>
        <%= f.label :archetype_healer, onclick: 'changeGear("light")' do %>
          <%= image_tag 'healer.png' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='hero-form_two-inputs'>
    <div class='hero-form_input'>
      <div>
        <%= f.radio_button :damage, 'magical', class: 'hero-form_radio' %>
        <%= f.label :damage_magical, onclick: 'setDamage("magical")' do %>
          <%= image_tag 'magical.png' %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :damage, 'physical', class: 'hero-form_radio' %>
        <%= f.label :damage_physical, onclick: 'setDamage("physical")' do %>
          <%= image_tag 'physical.png' %>
        <% end %>
      </div>
    </div>

    <div class='hero-form_input'>
      <div>
        <%= f.radio_button :range, 'ranged', class: 'hero-form_radio' %>
        <%= f.label :range_ranged, onclick: 'setRange("ranged")' do %>
          <%= image_tag 'ranged.png' %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :range, 'melee', class: 'hero-form_radio' %>
        <%= f.label :range_melee, onclick: 'setRange("melee")' do %>
          <%= image_tag 'melee.png' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='hero-form_three-inputs'>
    <div>
      <div class='hero-form_race'>
        <%= image_tag 'races/human.png',
          class: 'cursor-pointer hero-form_race-display',
          onclick: 'toggleRaceModal()' %>
      </div>
      <div class='hero-form_race-modal' onclick='toggleRaceModal()'>
        <div>
          <%= f.radio_button :race,
            'human',
            class: 'hero-form_radio',
            checked: true %>
          <%= f.label :race_human, onclick: 'setRace("human")' do %>
            <%= image_tag 'races/human.png' %>
          <% end %>
        </div>
        <div>
          <%= f.radio_button :race,
            'elf',
            class: 'hero-form_radio' %>
          <%= f.label :race_elf, onclick: 'setRace("elf")' do %>
            <%= image_tag 'races/elf.png' %>
          <% end %>
        </div>
        <div>
          <%= f.radio_button :race,
            'orc',
            class: 'hero-form_radio' %>
          <%= f.label :race_orc, onclick: 'setRace("orc")' do %>
            <%= image_tag 'races/orc.png' %>
          <% end %>
        </div>
        <div class='hero-form_close-modal'>
          [X]
        </div>
      </div>
    </div>

    <div class='hero-form_preview'>
      <%= image_tag '', class: 'hero-form_preview_base' %>
      <%= image_tag '', class: 'hero-form_preview_gear' %>
    </div>

    <div class='hero-form_vertical'>
      <div>
        <%= f.radio_button :gender,
          'male',
          class: 'hero-form_radio' %>
        <%= f.label :gender_male, onclick: 'changeBase("male")' do %>
          <%= image_tag 'male.png' %>
        <% end %>
      </div>
      <div>
        <%= f.radio_button :gender,
          'female',
          class: 'hero-form_radio',
          checked: true %>
        <%= f.label :gender_female, onclick: 'changeBase("female")' do %>
          <%= image_tag 'female.png' %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class='hero-form_name'>
    <%= f.label :name %>
    <%= f.text_field :name,
      autocomplete: 'off',
      onkeyup: 'setName()',
      id: 'input-hero-name',
      maxlength: 20 %>
  </div>

  <div>
    <%= f.submit disabled: true, id: 'hero-submit-button' %>
  </div>
<% end %>