<!DOCTYPE html>
<html>
  <head>
    <title>Archetype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= tag :meta,
      name: :psj, action: action_name, controller: controller_name %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <button class="menu-button">
        <%= image_tag 'menu.png' %>
      </button>
      <%= link_to root_path do %>
        <h1>Archetype</h1>
      <% end %>
    </header>
    <%= link_to 'heroes-cpanel', cpanel_heroes_path %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
